<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="product-slider" id="galleryTop">
                    <div class="swiper-container theme-slider position-lg-absolute all-0"
                         data-swiper='{"autoHeight":true,"spaceBetween":5,"loop":true,"loopedSlides":5,"thumb":{"spaceBetween":5,"slidesPerView":5,"loop":true,"freeMode":true,"grabCursor":true,"loopedSlides":5,"centeredSlides":true,"slideToClickedSlide":true,"watchSlidesVisibility":true,"watchSlidesProgress":true,"parent":"#galleryTop"},"slideToClickedSlide":true}'>
                        <div class="swiper-wrapper h-100">
                            <div class="swiper-slide h-100"><img class="rounded-1 fit-cover h-100 w-100" src="" alt=""/>
                            </div>
                        </div>
                        <div class="swiper-nav">
                            <div class="swiper-button-next swiper-button-white"></div>
                            <div class="swiper-button-prev swiper-button-white"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                            <img
                                    src="{{ product.images.first.image.url }}" alt class="img-responsive">
                <h5>{{ product.name }}</h5><a class="fs--1 mb-2 d-block" href="{% url 'products' %}?category={{ category.slug }}">{{ category.name }}">{{ product.category }}</a>
                <div class="fs--2 mb-3 d-inline-block text-decoration-none"><span
                        class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span
                        class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span
                        class="fa fa-star-half-alt text-warning star-icon"></span><span class="ms-1 text-600">(8)</span>
                </div>
                <p class="fs--1">{{ product.description }}</p>
                <h4 class="d-flex align-items-center"><span class="text-warning me-2">${{ product.price }}</span>
                        class="me-1 fs--1 text-500">
                {% if product.quantity %}
                                    	<p class="fs--1 mb-1">Stock: <strong class="text-success">Available</strong>
                                    {% else %}
                                       <p class="fs--1 mb-1">Stock: <strong class="text-danger">Unavailable</strong>
                                    {% endif %}
                <div class="row">
                    <div class="col-auto pe-0">
                        <div class="input-group input-group-sm" data-quantity="data-quantity">
                            <button class="btn btn-sm btn-outline-secondary border-300" data-field="input-quantity"
                                    data-type="minus">-
                            </button>
                            <input class="form-control text-center input-quantity input-spin-none" type="number" min="0"
                                   value="0" aria-label="Amount (to the nearest dollar)" style="max-width: 50px"/>
                            <button class="btn btn-sm btn-outline-secondary border-300" data-field="input-quantity"
                                    data-type="plus">+
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>